html {
  scroll-padding-top: 5rem;
  scroll-behavior: smooth;
}

body {
  margin: auto;
  font-family: Verdana ; 
  background: #f5f1f0;
}

  


/* === estilos globais === */
  

  
.corpo {
  height: auto;
  text-indent: 30px;
}


.paragrafo-corpo {
  font-size: 14px;
  padding: 20px 60px 30px 30px;
  text-align: justify;
  display: flex;
  margin: auto;
}
   

h1 {
  font-size: 14px;
  color:#f9f6f5;
  background-color: #c98e77;
  padding: 2px 0 2px 0 20px;
  margin-top: 0;
}
  


/* === topo === */
  
.secao-out {
  display: flex;
  position: sticky;
  top: -70px;
  background: #a5593c;
  height: 120px;
  box-shadow: 0 5px 15px #b0a6a6;
  
}   

.secao-topo {
  background: #a5593c;
  height: 70px;
  padding-bottom: 20px;
  padding-right: 40px;
  margin: auto;
  position: sticky;
  top: 0;
  width: 100%;
}

.paragrafo-topo {
  padding-top: 30px;
} 

.titulo a {
  font-size: 28px;
  font-weight: bold;
  color: #f9f6f5;
  padding-left: 40px;
  letter-spacing: 1px;
  text-decoration: none;
}


/* === sobre === */

.corpo-sobre {
  background-color: #ecd4ca;
  margin: 30px 30px 30px;
  box-shadow: 0 5px 15px #b0a6a6;
}

.sobre {
  display: flex;
  flex-direction: row;
}

.corpo-sobre img {
  width: 160px;
  height: 160px;
  margin: 30px;
  border: 5px solid #c98e77;
  border-radius: 50%;
}

.paragrafo-corpo {
  display: flex;
  margin: auto;
}



/* === bloco inferior === */

.corpo-bloco {
  display: flex;
  flex-direction: row;
  margin: 30px 30px 30px;
  gap: 30px;
  
}



/* === interesses === */

.corpo-interesses {
  width: 50%;
  background-color: #ecd4ca;
  box-shadow: 0 5px 15px #b0a6a6;
}



ul {
  font-size: 14px;
  padding-bottom: 30px;
  margin-right: 40px;
  margin-left: 50px;
  list-style-type: circle;
}

li {
  line-height: 20px;
}

/* === contato === */

.corpo-contato {
  width: 50%;
  background-color: #ecd4ca;
  box-shadow: 0 5px 15px #b0a6a6;
}


form {
 line-height: 20px;
 font-size: 14px;
 padding-left: 50px;
 padding-bottom: 30px;
 text-align: start;
 text-indent: 0;
 vertical-align: top;
 margin: auto;
}

.textarea  {
  width: 250px;
  max-width: 350px;
  min-height: 20px;
}

.textarea-msg {
  width: 250px;
  height: 80px;
  max-width: 350px;
  min-height: 20px;
}



span {
  font-weight: bold;
}


/* === rodapé === */

.secao-redes {
  background-color: #a5593c;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
   

.secao-redes img {
  height: 30px;
  filter: invert(100%);
  padding: 10px 5px;
}





/* === media === */



@media (max-width: 800px) {
 
  

  .corpo-sobre img {
    align-self: center;
  }

  .sobre {
    flex-direction: column;
  }

  .corpo-bloco {
    flex-direction: column;
  }

  .corpo-interesses {
    height: 50%;
    width: auto;
  }

  .corpo-contato {
    height: 50%;
    width: auto;
  }

  .paragrafo-corpo {
    padding: 20px 30px 30px 30px;
    margin: auto;
  }

  .contato {
    align-items: center;
  }
}

